{
    "extends": "eslint:recommended",
    "rules": {
        "linebreak-style": "off",
        "no-console": "off",
        "indent": ["error", 4]
    },
    "globals": {
        "angular": false,
        "module": false,
        "inject": false,
        "require": false,
        "console": false
    }
}