.leftSideBar{
    min-height: 0px;
}

.leftBoxSelected{
    border-color: #f50 !important;
    border-style: solid !important;
    border-width: thin !important;
}

.resultLabel{
    margin-bottom: 30px;
}

.descriptionLabel{
    margin-bottom: 15px;
}

.rightBar{
    .well{
        padding-top: 8px !important;
    }
}

.rightListBottomMargin{
    margin-bottom: 22px;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th{
    padding-top: 0px;
}

.underline{
    text-decoration: underline !important;
}

.bottomCentralRow{
    margin-top: 10px;
}

.introImage{
    max-width: 35%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 4%;
    margin-bottom: auto;
}
