<article>
    <div class="row">
        <!--Div de left bar-->
        <div class="col-sm-2">
            <div class="well clearfix leftSideBar ng-class:{'leftBoxSelected':currentCredentialType === 'credentialList'}">
                <div class="col-12 header-well">
                    <h2>{{'CREDENTIAL_LIST'|translate}}</h2>
                </div>
                <button ng-click="changeCredentialType('credentialList')" class="btn btn-success pull-right">Get</button>
            </div>
            <div class="well clearfix leftSideBar ng-class:{'leftBoxSelected':currentCredentialType === 'credentialId'}">
                <div class="col-12 header-well">
                    <h2>{{'CREDENTIALS_ID'|translate}}</h2>
                </div>
                <button ng-click="changeCredentialType('credentialId')" class="btn btn-success pull-right">Get</button>
            </div>
            <div class="well clearfix leftSideBar ng-class:{'leftBoxSelected':currentCredentialType === 'credentialPost'}">
                <div class="col-12 header-well">
                    <h2>{{'CREDENTIALS_ID_LOCKS'|translate}}</h2>
                </div>
                <button ng-click="changeCredentialType('credentialPost')" class="btn btn-success pull-right">Post</button>
                <button ng-click="changeCredentialType('credentialPost')" class="btn btn-success pull-right">Delete</button>
            </div>
        </div>
        <!--#Div de left bar-->


        <!--Div central-->
        <div class="col-sm-7">
            <div class="well clearfix">
                <div class="col-12 header-well text-right">
                    <span>{{'CREDENTIAL'|translate}}</span>
                    <span>{{headerRestType}}</span>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h2>{{'AUTHENTICATION'|translate}}</h2><hr class="line-one">
                        <div class="form-group">
                            <label>{{'SECURITY_SCHEME'|translate}}:</label>
                            <input class="form-control" ng-model='securityScheme' ng-click='selectParameter("SECURITY_SCHEME")'>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h2>Headers</h2><hr class="line-one">
                        <div class="form-group">
                            <label>{{'AUTHORIZATION_INFORMATION'|translate}}:</label>
                            <input class="form-control" ng-model='authorizationInformation' ng-click='selectParameter("AUTHORIZATION_INFORMATION")'>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h2>{{'QUERY_PARAMETERS'|translate}}</h2><hr class="line-one">
                    </div>
                </div>
                <div ng-if='currentCredentialType === "credentialList"'>
                    <div class="row">
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <label>{{'IPV4'|translate}}:</label>
                                <input type="text" class="form-control" ng-model='credentialListParameters.IPV4' ng-click='selectParameter("IPV4")'>
                            </div>
                            <div class="form-group">
                                <label>{{'DOMAIN'|translate}}:</label>
                                <input type="text" class="form-control" ng-model='credentialListParameters.domain' ng-click='selectParameter("DOMAIN")'>
                            </div>
                            <div class="form-group">
                                <label>{{'LOGIN_AUTHORIZATION_METHOD_CONFIGURATION'|translate}}:</label>
                                <input type="text" class="form-control" ng-model='credentialListParameters.loginAuthorizationMethodConfiguration' ng-click='selectParameter("LOGIN_AUTHORIZATION_METHOD_CONFIGURATION")'>
                            </div>
                            <div class="form-group">
                                <label>{{'LOGIN_USERNAME'|translate}}:</label>
                                <input type="text" class="form-control" ng-model='credentialListParameters.loginUserName' ng-click='selectParameter("LOGIN_USERNAME")'>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{'HOSTNAME'|translate}}:</label>
                                <input type="text" class="form-control" ng-model='credentialListParameters.hostname' ng-click='selectParameter("HOSTNAME")'>
                            </div>
                            <div class="form-group">
                                <label>{{'CREDENTIAL_TYPE'|translate}}:</label>
                                <input type="text" class="form-control" ng-model='credentialListParameters.credentialType' ng-click='selectParameter("CREDENTIAL_TYPE")'>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if='currentCredentialType !== "credentialList"'>
                    <div class="row">
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <label>{{'CREDENTIAL_ID'|translate}}:</label>
                                <input type="text" class="form-control" ng-model='credentialsIdParameters.CredentialId' ng-click='selectParameter("CREDENTIAL_ID")'>
                            </div>
                            <div class="form-group">
                                <label>{{'LOGIN_AUTHORIZATION_METHOD_CONFIGURATION'|translate}}:</label>
                                <input type="text" class="form-control" ng-model='credentialsIdParameters.loginAuthorizationMethodConfiguration' ng-click='selectParameter("LOGIN_AUTHORIZATION_METHOD_CONFIGURATION")'>
                            </div>
                            <div class="form-group">
                                <label>{{'LOGIN_USERNAME'|translate}}:</label>
                                <input type="text" class="form-control" ng-model='credentialsIdParameters.loginUserName' ng-click='selectParameter("LOGIN_USERNAME")'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 text-right buttons">
                    <button type="button" class="btn btn-primary btn-md" ng-click="send()">{{'SEND_BUTTON'|translate}}</button>
                    <button type="button" class="btn btn-primary btn-md" ng-click="clearContent()">{{'CLEAR_BUTTON'|translate}}</button>
                </div>
            </div>
        </div>
        <!--#Div central-->


        <!--Div Derecho-->
        <div class="col-sm-3 rightBar">
            <div class="well">
                <div class="col-sm-12">
                    <h2>{{selectedParameter}}</h2>
                    <div>
                        <label>{{parameterContentDescription}}</label>
                        <label>{{parameterContentExample}}</label>
                    </div>
                    <div class="col-sm-12" ng-hide='true'>
                        <h2>Details: <b>db.t2.medium</b></h2>
                        <div class="col-sm-6 text-right">
                            <label>Type</label><br><br>
                            <label>vCPU</label><br>
                            <label>Memory</label><br>
                            <label>EBS Optimized</label><br>
                            <label>Network performance</label><br>
                            <label>Free tier elegible</label>
                        </div>
                        <div class="col-sm-6">
                            <label>Micro instance current</label><br>
                            <label>2 vCPU</label><br>
                            <label>4 GiB</label><br>
                            <label>No</label><br><br>
                            <label>Moderate</label><br><br>
                            <label>No</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--#Div Derecho-->
    </div>

    <!--Div de resultados-->

    <div class="row" ng-if='!hideResults'>
            <div class="col-sm-12">
                <div class="well clearfix">
                    <h2>{{'REQUEST_URL'|translate}}</h2>
                    <label>{{url}}</label>
                    <h2>{{'BODY'|translate}}</h2>

                    <pre>{{results|json}}</pre>
                </div>
            </div>
    </div>

    <!--#Div de resultados-->

</article>


